<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Travel Deals</title>
  <link rel="stylesheet" href="/core.css">
</head>
<body>
<h1>Travel Deals</h1>
<p>Here are today's deals on flights from Seattle to Las Vegas:</p>
<table>
  <thead>
  <tr>
    <th>Origin</th>
    <th>Destination</th>
    <th>Airline</th>
    <th>Departing</th>
    <th>Returning</th>
    <th>Class</th>
    <th>Price (USD)</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="flight : ${flights}">
    <td th:text="${flight.origin}"></td>
    <td th:text="${flight.destination}"></td>
    <td th:text="${flight.airline}"></td>
    <td th:text="${flight.departing}"></td>
    <td th:text="${flight.returning}"></td>
    <td th:text="${flight.flightClass}"></td>
    <td th:text="${'$' + flight.price}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
